{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> WELCOME  USER </title>
     <link rel="stylesheet"  href="{% static 'welcome.css' %}" >
</head>
<body>
    <header>
        <h1> Welcome User </h1>
         <h2>Stay Safe! Stay at home!</h2>
        <nav>
           
            <a href="/">Logout</a>
            <a href="http://www.mohfw.gov.in/"> Know your state</a>
            <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a>
        </nav>
    </header>
    <section class="half">
        <h2>About</h2>
     <p> We are here to help you and your community through this pandemic. We are a team of enthusiasts who our trying to help people by registering with our portal and sorting issues via a friendly CHATBOT!!</p>
    </section>
    <section class="half">
        <h2>Lets get you some help!</h2>
       <ol>
        <li>  <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html"> How to protect yourself against coronavirus</a></li>
        <li>  <a href="https://www.mygov.in/aarogya-setu-app/"> Download Aarogya Setu Mobile App</a></li>
        <li>  <a href="https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=113528f1-370e-456b-89d8-7318777dddb9&serviceInstanceID=c0b15a07-d3b2-4044-8656-c14e2b2ad4f0">Get all the help you need with our friendly CHATBOT :) !!<a> </li>
</ol>
    </section>
    <section class="whole">
        <h2>Additional information</h2>
        <details> 
            <summary></summary>
             <ul>
<li> <a href="https://www.worldometers.info/">Click to view: World pandemic statistics</a></li>
             <li><a href="https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf"> Click here for state wise emergency contacts</a></li>
            <li> <a href="https://mygov.in/aarogya-setu-app/"> Download Arogya Setu App for iOS and Android</a></li>
<li> <a href="https://g.co/kgs/GY2tqK"> Daily Satistics for country : India </a></li>
</ul>
        </details>
    </section>
   
</body>
</html>